<h1 class="title">Your Fizzy account import is complete</h1>
<p class="subtitle">Your import to <%= @account.name %> is complete.</p>

<p><%= link_to "Go to your account", @landing_url %></p>

<p class="footer">Need help? <%= mail_to "support@fizzy.do", "Send us an email" %>.</p>
