<% mention = notification.source %>

<strong class="card__title overflow-ellipsis"><%= mention.mentioner.first_name %> mentioned you</strong>
<div class="card__notification-meta overflow-ellipsis">
  <%= mention.source.mentionable_content.truncate(200) %>
</div>
