<div class="card__collection">
  <span class="card__id"><%= notification.source.eventable.id %></span>
  <span class="card__collection-name overflow-ellipsis">
    <%= notification.source.collection.name %>
  </span>
</div>
